@media only screen and (max-width: 480px){
  .card {
    width: 342px;
    height: 610px;
    display: flex;
    flex-direction: column;
  }

  .card .product-image {
    background-image: url(images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    border-radius: 0.714rem 0.714rem 0rem 0rem;
  }

  .body {
    padding: 1.928rem 1.714rem 1.714rem;
  }

  .body h2 {
    margin-top: 1rem;
  }

  .body .description {
    margin-top: 1.5rem;
  }

  .body .prices-container {
    margin-top: 1.642rem;
  }

  .body .btn {
    margin-top: 1.357rem;
  }

  br {
    display: none;
  }
}