* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 100%; 
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  height: 450px;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
}

.card-img {
  background-image: url("/images/image-product-desktop.jpg");
  width: 300px;
  background-size: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.card-body {
  width: 300px; 
  padding: 30px;
}

.font {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500; 
  color: hsl(228, 12%, 48%); 
}

.first-label {
  text-transform: uppercase; 
  font-size: 12px;
  letter-spacing: 0.4rem;
}

.title {
  font-family: 'Fraunces', serif; 
  font-weight: 700;
  margin-top: 20px;
  font-size: 33px; 
  line-height: 2.2rem; 
  color:hsl(212, 21%, 14%);
}

.body {
  margin-top: 20px; 
  font-size: 14px; 
  line-height: 1.5rem;
  word-spacing: 0.1rem;
}

.prices-container {
  display: flex; 
  align-items: center; 
  margin-top: 20px;
}

.price {
  font-size: 33px; 
  line-height: 2.5rem; 
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-weight: 500;
}

.old-price {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; 
  font-weight: 500; 
  margin-left: 22px;
}

.button {
  height: 50px; 
  width: 100%;
  background-color:hsl(158, 36%, 37%);
  border: none; 
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-icon {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.button-label {
  color: hsl(0, 0%, 100%); 
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; 
  margin-left: 8px;
}

.button:hover{
  background-color: hsl(163, 86%, 14%);
  cursor: pointer;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

